var express = require("express")
 , url = require("url")
 , cors = require("cors")
 , swagger = require("swagger-node-express")
 , db = false

var app = express();
app.use(express.bodyParser());

var corsOptions = {
  credentials: true,
  origin: function(origin,callback) {
    if(origin===undefined) {
      callback(null,false);
    } else {
      callback(null,true);
    }
  }
};

app.use(cors(corsOptions));

swagger.setAppHandler(app);  
swagger.configureSwaggerPaths("", "api-docs", "")

{{#apis}}
var {{name}}Api = require("./{{apiFolder}}/{{className}}.js");
{{/apis}}

swagger.addModels(models)
  {{#apis}}
  {{#operations}}
  {{#operation}}.add{{httpMethod}}({{name}}Api.{{nickname}}){{/operation}}{{newline}}
  {{/operations}}
  {{/apis}};

// configures the app
swagger.configure("http://localhost:8002", "0.1");

//  start the server
app.listen(8002);
