{{#returnType}}
  return Response.ok().entity({{className}}Service.{{nickname}}({{#allParams}}{{paramName}}{{#hasMore}},{{/hasMore}}{{/allParams}})).build();
{{/returnType}}
{{^returnType}}
  {{className}}Service.{{nickname}}({{#allParams}}{{paramName}}{{#hasMore}},{{/hasMore}}{{/allParams}});
  return Response.ok().build();
{{/returnType}}