package {{package}};

import {{modelPackage}}.*;
import java.util.*;
import java.io.File;


public class {{name}}Service {
  {{#operations}}
  {{#operation}}
  public static {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}} {{nickname}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
    {{#returnType}}return null;{{/returnType}}
  }
  {{/operation}}
  {{/operations}}
}