{{#returnType}}
  return Response.ok().entity({{name}}Service.{{nickname}}({{#allParams}}{{paramName}}{{#hasMore}},{{/hasMore}}{{/allParams}})).build();
{{/returnType}}
{{^returnType}}
  {{name}}Service.{{nickname}}({{#allParams}}{{paramName}}{{#hasMore}},{{/hasMore}}{{/allParams}});
  return Response.ok().build();
{{/returnType}}