package {{package}};

import {{modelPackage}}.*;

import org.restlet.resource.*;

import java.util.*;

public interface {{className}}Resource {
  {{#operations}}
  {{#operation}}
  @{{httpMethod}}("{{path}}")
  {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}} {{nickname}}({{#pathParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/pathParams}});

  {{/operation}}
  {{/operations}}{{newline}}
}