package {{package}};

import {{modelPackage}}.*;

import org.restlet.resource.ServerResource;

import java.util.*;

public class {{className}}ServerResource extends ServerResource implements {{className}}Resource  {
  {{#operations}}
  {{#operation}}

  {{#uniquePath}}
  /**
   {{#pathParams}}
   * @param {{paramName}} {{description}}
   {{/pathParams}}
   **/

  {{#pathParams}}
  private {{dataType}} {{paramName}};
  {{/pathParams}}

  public void doInit({{#pathParams}}{{dataType}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/pathParams}}) {
  {{#pathParams}}
    this.{{paramName}} = {{paramName}};
  {{/pathParams}}
  }
  {{/uniquePath}}


  /** 
   {{{summary}}} 

   {{#notes}}
   {{{notes}}}
   {{/notes}}
   **/


  public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}} {{nickname}}({{#bodyParams}}{{{dataType}}} {{paramName}}{{/bodyParams}}) {
    {{#allParams}}
    {{#pathParameter}}{{{dataType}}} {{paramName}} = {{{dataType}}}.valueOf(getAttribute("{{{paramName}}}"));{{/pathParameter}}

    {{#queryParameter}}{{{dataType}}} {{paramName}} = {{{dataType}}}.valueOf(getQueryValue("{{{paramName}}}"));{{/queryParameter}}

    {{#formParameter}}{{{dataType}}} {{paramName}} = {{{dataType}}}.valueOf(getFormValue("{{{paramName}}}"));{{/formParameter}}

    {{#headerParameter}}{{{dataType}}} {{paramName}} = {{{dataType}}}.valueOf(getHeaderValue("{{{paramName}}}"));{{/headerParameter}}
    {{newline}}
    {{/allParams}}

    {{#returnType}}
    return null;
    {{/returnType}}{{newline}}
    {{^returnType}}
    return;
    {{/returnType}}{{newline}}
  }

  {{/operation}}
  {{/operations}}{{newline}}
}