package {{package}};

import {{modelPackage}}.*;

import org.restlet.resource.ServerResource;

import java.util.*;

public class {{className}}ServerResource extends ServerResource implements {{className}}Resource  {
  {{#operations}}
  {{#operation}}
  public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}} {{nickname}}({{#allParams}}
    {{#queryParameter}}{{{dataType}}} {{paramName}}{{/queryParameter}}
    {{#pathParameter}}{{{dataType}}} {{paramName}}{{/pathParameter}}
    {{#formParameter}}{{{dataType}}} {{paramName}}{{/formParameter}}
    {{#headerParameter}}{{{dataType}}} {{paramName}}{{/headerParameter}}
    {{#bodyParameter}}{{{dataType}}} {{paramName}}{{/bodyParameter}}
    {{#hasMore}},{{/hasMore}}
    {{/allParams}}) {
    {{#returnType}}
      return null;
    {{/returnType}}
    {{^returnType}}
      return;
    {{/returnType}}
  }

  {{/operation}}
  {{/operations}}{{newline}}
}