module {{rootFolder}}
  class {{name}} < Grape::API
    {{#operations}}
    {{#operation}}


    # get {{path}}
    desc "{{{summary}}}", {
      nickname: "{{{nickname}}}",
      {{#returnBaseType}}entity: "Entities::{{returnBaseType}}",{{/returnBaseType}}
      notes: "{{{notes}}}",
      http_codes: {
        {{#errorList}}
        {{code}} => "{{{reason}}}",
        {{/errorList}}{{newline}}
      }
    }

    params do
      {{#allParams}}
      {{#required}}requires {{/required}}{{^required}}optional {{/required}} :{{paramName}}, type: "{{dataType}}", desc: "{{description}}"
      {{/allParams}}{{newline}}
    end
    {{httpMethod}} "{{path}}" do
      # add your magic here
    end
    {{/operation}}
    {{/operations}}{{newline}}
  end
end
